* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;

    background: lemonchiffon;
    padding: 10px;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    width: 100%;
    background: bisque;
    border: bisque;
    border-radius: 10px;
    margin-bottom: 10px;
}

.header div {
    display: flex;
    align-items: center;
}

.title {
    text-decoration: none;
    color: black;
}

.language {
    color: black;
    margin: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 5px;
    width: 100%;
    background: bisque;
    border: bisque;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav .menu {
    list-style: none;
}

.text {
    text-decoration: none;
    color: black;
}

.main {
    margin-bottom: 5px;
}

footer {
    display: flex;
    justify-content: center;

    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    background: bisque;
    border: bisque;
    border-radius: 10px;
}

