html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #3BB77E;
  --general-color: #253D4E;
  --background-color: #F2F3F4;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: 36rem;
  height: 78.8rem;
  padding: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  width: 36rem;
  height: 8rem;
}

.header-logo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36rem;
  height: 7.7rem;
  padding: 1.5rem 3rem 1.3rem;
}

.header__logo {
  width: 10rem;
  height: 3rem;
}

.header__close {
  cursor: pointer;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  color: #111111;
  background: #DEF9EC;
}

.menu__search {
  width: 30rem;
  height: 4.5rem;
  outline: none;
  border: 1px solid #ececec;
  border-radius: 0.5rem;
  background: var(--background-color);
  margin-bottom: 2rem;
}

.menu__list {
  list-style: none;
}

.menu__list-item {
  cursor: pointer;
  text-align: left;
  vertical-align: baseline;
  outline: none;
  transition: 0.4s;
  background: white;
  border-bottom: 0.1rem solid lightgray;
  color: var(--general-color);
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
}

.menu__list-item--without-border-bottom {
  border-bottom: 0;
}

.open, .menu__list-item:hover {
  background: #cccccc;
}

.open .menu__list-item-panel {
  display: block;
}

.menu__list-item-panel {
  background-color: white;
  width: 30rem;
  display: none;
}

.menu__panel-list {
  list-style: none;
  padding-left: 1rem;
}

.menu__list-item-title {
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  padding: 1.3rem;
}

.menu__panel-list-item {
  font-size: 1.4rem;
  width: 30rem;
  padding: 1rem 0;
}

.menu__panel-list-item-link {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}
