html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Quicksand, sans-serif;
}

:root {
    --secondary-color: #7E7E7E;
    --primary-color: #3BB77E;
    --general-color: #253D4E;
    --feature-product-cart-color: #F4F6FA;
    --feature-product-button-color: #F2F3F4;
    --badge-color: #FFFFFF;
    --category-color: #ADADAD;
    --product-add-color: #DEF9EC;
    --add-to-cart-hover-color: #FDC040;
    --discount-color: #242424;
}

.container {
    display: flex;
    flex-direction: column;

    width: 144rem;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__container-info {
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3.7rem;
    width: 100%;
    font-size: 1.3rem;
}

.header-info {
    list-style: none;
    display: flex;
}

.header-info__item {
    margin-left: 2rem;
    color: var(--secondary-color);
    position: relative;
}

.header-info__item::before {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 0.1rem;
    height: 1rem;
    background: var(--secondary-color);
    margin-left: -1rem;
}

.header-info__item:first-child::before {
    display: none;
}

.header-info__item:first-child {
    margin-left: 0;
}

.header-info__item-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.header-info__item-link:hover {
    color: black;
}

.header-info__welcome {
    margin-left: auto;
}

.header-info__help {
    margin-left: auto;
}

.header-info__telephone {
    position: relative;
    color: var(--primary-color);
    font-weight: bold;
    align-self: center;
    margin-right: 2rem;
}

.header-info__telephone::after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 0.1rem;
    height: 1rem;
    background: var(--secondary-color);
    margin-left: 1rem;
}

.header-info__page-language {
    position: relative;
}

.header-info__page-language::after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 0.1rem;
    height: 1rem;
    background: var(--secondary-color);
    margin-left: -1rem;
}

.header-info__page-language-items {
    position: relative;
    margin-left: auto;
    height: 1.7rem;
    font-size: 1.3rem;
    background: white;
    border: white;
    width: 6.3rem;
    opacity: 0.5;
    margin-right: 2rem;
}

.header-info__page-language-items:hover {
    opacity: 1;
    cursor: pointer;
}

.header-info__price-value {
    height: 1.5rem;
    font-size: 1.3rem;
    background: white;
    border: white;
    width: 5rem;
    opacity: 0.5;
}

.header-info__price-value:hover {
    opacity: 1;
    cursor: pointer;
}

.horizontal-line {
    display: flex;
    height: 0.1rem;
    border: 0;
    border-top: 0.1rem solid lightgray;
    position: relative;
    opacity: 0.4;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12.2rem;
    width: 100%;
}

.header-nav__img {
    width: 18rem;
    height: 5.5rem;
}

.header-nav__categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 72rem;
    height: 5.4rem;
    border: solid 0.2rem #BCE3C9;;
    border-radius: 0.5rem;
}

.header-nav__categories-items {
    font-size: 1.4rem;
    height: 5rem;
    width: 16rem;
    background: white;
    border: none;
    padding: 0 0 0 2rem;
    outline: none;
}

.header-nav__search {
    height: 5rem;
    width: 52.6rem;
    border: none;
    outline: none;
    margin: 0 0 0 2rem;
    padding: 0.1rem 0.2rem 0.1rem 0;
}

.header-nav__location {
    height: 4rem;
    width: 14.9rem;
    font-size: 1.4rem;
    border: solid 0.1rem lightgray;
    border-radius: 0.5rem;
    background: white;
    color: var(--primary-color);
    cursor: pointer;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.header-nav__location:hover {

    transform: translateY(-10%);
    transition: all .3s ease 0s;
}

.header-nav__item {
    width: 6.4rem;
    height: 1.9rem;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.6rem;
    margin: 0.5rem 0 0;
    font-family: Lato, sans-serif;
}

.horizontal-line1 {
    display: flex;
    height: 0.2rem;
    border-top: 0.5rem;
    position: relative;
    top: 4rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 7.3rem;
}

.container-nav {
    width: 100%;
    margin-right: auto;
    height: 7.1rem;
}

.nav__browse-all-categories {
    border: none;
    outline: none;
    background: var(--primary-color);
    height: 4.4rem;
    width: 25.5rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
    opacity: 0.9;
}

.nav__browse-all-categories:hover {
    transition: all .3s ease 0s;
    opacity: 1;
}

.nav__categories:hover .nav__categories__items {
    visibility: visible;
}

.nav__categories__items {
    background: lemonchiffon;
    width: 47.4rem;
    height: 42.6rem;
    /*margin: 2.6rem 0 0;*/
    margin-bottom: 10rem;
    border-radius: 1rem;
    padding: 3rem;
    position: absolute;
    visibility: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "item--1 item--2"
    "item--3 item--4"
    "item--5 item--6"
    "item--7 item--8"
    "item--9 item--10";
}

.nav__categories__item {
    height: 5rem;
    width: 20.4rem;
    background: #3BB77E;
}

.nav__deals {
    text-decoration: none;
    font-size: 1.6rem;
    width: 7rem;
    height: 4.3rem;
    padding: 0 2rem 0 0;
    font-weight: 700;
    color: var(--general-color);
}

.nav__deals:hover {
    color: var(--primary-color);
}

.nav__home {
    border: none;
    background: white;
    font-weight: 700;
    width: 7rem;
    height: 6.2rem;
    font-size: 1.6rem;
    margin: 0 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.nav__about {
    text-decoration: none;
    font-size: 1.6rem;
    width: 7rem;
    height: 4.6rem;
    margin: 0 1.5rem;
    font-weight: 700;
    color: var(--general-color);
}

.nav__about:hover {
    color: var(--primary-color);
}

.nav__shop {
    border: none;
    background: white;
    width: 7rem;
    height: 5.5rem;
    font-size: 1.6rem;
    margin: 0 1.5rem;
    font-weight: 700;
    color: var(--general-color);
    cursor: pointer;
}

.nav__shop:hover {
    color: var(--primary-color);
}

.nav__vendors {
    border: none;
    background: white;
    width: 8.5rem;
    height: 7rem;
    font-size: 1.6rem;
    margin: 0 1.5rem;
    font-weight: 700;
    color: var(--general-color);
    cursor: pointer;
}

.nav__vendors:hover {
    color: var(--primary-color);
}

.nav__mega-menu {
    border: none;
    background: white;
    width: 11rem;
    height: 7rem;
    font-size: 1.6rem;
    margin: 0 1.5rem;
    font-weight: 700;
    color: var(--general-color);
    cursor: pointer;
}

.nav__mega-menu:hover {
    color: var(--primary-color);
}

.nav__blog {
    border: none;
    background: white;
    width: 5.7rem;
    height: 7rem;
    font-size: 1.6rem;
    margin: 0 1.5rem;
    font-weight: 700;
    color: var(--general-color);
    cursor: pointer;
}

.nav__blog:hover {
    color: var(--primary-color);
}

.nav__pages {
    border: none;
    background: white;
    width: 7rem;
    height: 7rem;
    font-size: 1.6rem;
    margin: 0 1.5rem;
    font-weight: 700;
    color: var(--general-color);
    cursor: pointer;
}

.nav__pages:hover {
    color: var(--primary-color);
}

.nav__contact {
    text-decoration: none;
    font-size: 1.6rem;
    width: 6.1rem;
    height: 7rem;
    margin: 0 1.5rem;
    font-weight: 700;
    color: var(--general-color);
}

.nav__contact:hover {
    color: var(--primary-color);
}

.nav-radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18.5rem;
}

.nav-radio {
    display: flex;
    height: 7.1rem;
}

.nav-radio__img {
    margin-bottom: auto;
    width: 3.6rem;
    height: 3.8rem;
}

.nav-radio__frequency {
    font-size: 2.1rem;
    font-weight: 700;
    color: #3BB77E;
    margin-bottom: auto;
    height: 2.6rem;
    width: 12.6rem;
    margin-left: 1.2rem;
}

.nav-radio__support {
    font-family: Lato, sans-serif;
    font-size: 1.1rem;
    color: var(--secondary-color);
    width: 12.6rem;
    height: 1.2rem;
    font-weight: normal;
    letter-spacing: 0.07rem;
}

.big-advertisement-container {
    display: flex;
    width: 100%;
    height: 41.7rem;
    margin-top: 3rem;
    margin-bottom: 15rem;
}

.big-advertisement__background {
    position: relative;
    width: 100%;
    height: 53.8rem;
    border-radius: 2rem;

    background: url("https://wp.alithemes.com/html/nest/demo/assets/imgs/slider/slider-1.png") no-repeat center;
    background-size: 100% 100%;
    padding: 7rem 7.8rem;
}

.big-advertisement__credentials {
    width: 80rem;
    height: 33.7rem;
    top: 10rem;
    color: var(--general-color);
}

.big-advertisement__title {
    font-size: 7.2rem;
    margin-bottom: 4rem;
}

.big-advertisement__shopping {
    font-size: 3rem;
    font-family: Lato, sans-serif;
    color: var(--secondary-color);
    margin-bottom: 6.5rem;
}

.big-advertisement__email-address {
    position: relative;
    width: 35rem;
    height: 6.4rem;
    border-radius: 5rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.big-advertisement__subscribe {
    position: absolute;
    left: 35rem;
    width: 15.9rem;
    height: 6.4rem;
    background: var(--primary-color);
    border-radius: 5rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    font-family: Quicksand, sans-serif;
    cursor: pointer;
}

.featured-product-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 28.4rem;
    border-radius: 1rem;
    padding-top: 2.5rem;
    margin: 4rem 0;
}

.featured-product__categories {
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 4rem;
    margin-bottom: 3rem;
}

.featured-product__categories-title {
    font-size: 3.2rem;
    color: var(--general-color);
    margin-right: 3rem;
}

.featured-product__categories-link {
    text-decoration: none;
    color: var(--general-color);
    margin-right: 1rem;
    padding-right: 1rem;
    font-size: 1.6rem;
}

.featured-product__previous {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 1rem;
    background: var(--feature-product-button-color);
    cursor: pointer;
}

.featured-product__previous:hover {
    background: var(--primary-color);
}

.featured-product__previous-image {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.featured-product__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--feature-product-button-color);
    cursor: pointer;
}

.featured-product__next:hover {
    background: var(--primary-color);
}

.featured-product__next-image {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.featured-product__categories-link--green {
    color: var(--primary-color);
}

.featured-product__carts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20rem;
}

.featured-product__cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13.7rem;
    height: 18rem;
    padding: 20px 0 18px 0;
    border-radius: 1rem;
    background: var(--feature-product-cart-color);
}

.featured-product__cart--without-margin {
    margin: 0;
}

.featured-product__image {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
}

.featured-product__category {
    font-size: 1.6rem;
}

.featured-product__quantity {
    font-size: 1.4rem;
}

.advertisement-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30.7rem;
    margin-bottom: 2.5rem;
}

.advertisement__item-background1 {
    width: 46rem;
    height: 30.7rem;
    border-radius: 1.5rem;

    background: url("https://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-1.png");
    background-size: 46rem 30.7rem;
}

.advertisement__item-background2 {
    width: 46rem;
    height: 30.7rem;
    border-radius: 1.5rem;

    background: url("https://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-2.png");
    background-size: 46rem 30.7rem;
}

.advertisement__item-background3 {
    width: 46rem;
    height: 30.7rem;
    border-radius: 1.5rem;

    background: url("https://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-3.png");
    background-size: 46rem 30.7rem;
}

.advertisement__item-credentials {
    display: flex;
    flex-direction: column;
    width: 30.2rem;
    height: 14.6rem;
    font-size: 1.4rem;
    font-family: Quicksand, sans-serif;
    padding: 0 5rem;
    margin-top: 7rem;
}

.advertisement__item-title {
    width: 30rem;
    height: 9rem;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--general-color);
    font-weight: 600;
    margin-bottom: 3rem;
}

.advertisement__item-show-now {
    width: 10.3rem;
    height: 3.1rem;
    background: var(--primary-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.advertisement__item-show-now--yellow:hover {
    background: var(--add-to-cart-hover-color);
}

.advertisement__item-show-now-link {
    color: white;
    text-decoration: none;
}

.popular-products-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 109rem;
    padding: 2.5rem 0;
    font-size: 1.4rem;
    color: var(--general-color);
}

.popular-products__categories {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.8rem;
    margin-bottom: 3rem;
}

.popular-products__categories-title {
    font-size: 3.2rem;
    font-weight: 700;
    margin-right: auto;
}

.popular-products__categories-item {
    font-size: 1.6rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 2rem;
}

.popular-products__categories-item--green {
    color: var(--primary-color);
}

.popular-products__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 49.3rem;
    margin-bottom: 3rem;
}

.popular-products__item {
    position: relative;
    border-radius: 1.5rem;
    border: 0.1rem solid #ececec;
    width: 26.5rem;
    height: 47.5rem;
    padding: 1rem 1rem 0;
}

.popular-products__badge {
    position: absolute;
    left: 0;
    top: 0;
    width: 5.9rem;
    height: 3.3rem;
    border-radius: 1.5rem 0 2rem 0;
    padding: 0.8rem 1.8rem;
    background: #F74B81;
    color: var(--badge-color);
}

.popular-products__image {
    width: 24.6rem;
    height: 24.6rem;
}

.popular-products__category {
    font-family: Lato, sans-serif;
    color: var(--category-color);
}

.popular-products__description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.popular-products__rating {
    margin-bottom: 1rem;
}

.popular-products__by {
    display: inline-block;
    font-family: Lato, sans-serif;
    color: #B6B6B6;
    margin-bottom: 2rem;
}

.popular-products__producer {
    font-family: Lato, sans-serif;
    text-decoration: none;
}

.product-producer--green {
    color: var(--primary-color);
}

.popular-products__price {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.popular-products__previous-price {
    font-size: 1.4rem;
    color: var(--category-color);
    text-decoration: line-through;
}

.popular-products__add-to-cart {
    color: var(--primary-color);
    background: var(--product-add-color);
    width: 8.5rem;
    height: 3.6rem;
    border-radius: 0.5rem;
    border: none;
    margin-right: 2.5rem;
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.popular-products__add-to-cart:hover {
    background: var(--primary-color);
    color: white;
}

.daily-best-sells-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 63rem;
    font-size: 1.4rem;
    color: var(--general-color);
    margin-top: 4rem;
}

.daily-best-sells__categories {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.8rem;
    margin-bottom: 4.4rem;
}

.daily-best-sells__categories-title {
    font-size: 3.2rem;
    font-weight: 700;
    margin-right: auto;
}

.daily-best-sells__category {
    font-size: 1.6rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 2rem;
}

.daily-best-sells__category--green {
    color: var(--primary-color);
}

.daily-best-sells__products {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 54.1rem;
}

.daily-best-sells__products-advertisement {
    width: 32rem;
    height: 52rem;
    background: url("https://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-4.png");
    background-size: 37.8rem 52rem;
    border-radius: 1.5rem;
}

.daily-best-sells__advertisement-credentials {
    display: flex;
    flex-direction: column;
    width: 37.8rem;
    height: 29.5rem;
    font-size: 1.4rem;
    font-family: Quicksand, sans-serif;
    padding: 0 3.5rem;
    margin-top: 5rem;
}

.daily-best-sells__advertisement-title {
    width: 30rem;
    height: 9rem;
    font-size: 3.5rem;
    text-decoration: none;
    color: var(--general-color);
    font-weight: 600;
    margin-bottom: 16rem;
}

.daily-best-sells__advertisement-show-now {
    width: 10.3rem;
    height: 3.1rem;
    background: var(--primary-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.daily-best-sells__advertisement-show-now:hover {
    background: var(--add-to-cart-hover-color);
}

.daily-best-sells__advertisement-show-now-link {
    color: white;
    text-decoration: none;
}

.daily-best-sells__product {
    position: relative;
    border-radius: 1.5rem;
    border: 1px solid #ececec;
    width: 26.5rem;
    height: 52rem;
    padding: 2.5rem 2.5rem 0;
}

.daily-best-sells__product-badge {
    position: absolute;
    left: 0;
    top: 0;
    width: 10rem;
    height: 3.3rem;
    border-radius: 1.5rem 0 2rem 0;
    padding: 0.8rem 1.5rem;
    background: #F74B81;
    color: var(--badge-color);
}

.daily-best-sells__product-image {
    width: 22.6rem;
    height: 22.6rem;
}

.daily-best-sells__product-category {
    font-family: Lato, sans-serif;
    color: var(--category-color);
}

.daily-best-sells__product-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.daily-best-sells__product-rating {
    margin-bottom: 1rem;
}

.daily-best-sells__product-price {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.daily-best-sells__product-previous-price {
    font-size: 1.4rem;
    color: var(--category-color);
    text-decoration: line-through;
}

.daily-best-sells__product-sold {
    margin-bottom: 1.5rem;
}

.daily-best-sells__product-add-to-cart {
    display: inline-block;
    width: 22.6rem;
    height: 4.7rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
    cursor: pointer;
    text-align: center;
    background: var(--primary-color);
}

.daily-best-sells__product-add-to-cart:hover {
    background: var(--add-to-cart-hover-color);
}

.daily-best-sells__product-add-to-cart-link {
    color: white;
    text-decoration: none;
}

.deal-of-day-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 57.5rem;
    color: var(--general-color);
}

.deal-of-day__credentials {
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 3.8rem;
    margin-top: 3rem;
}

.deal-of-day__title {
    font-size: 3.2rem;
    font-weight: 700;
    margin-right: auto;
}

.deal-of-day__category {
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
    color: var(--secondary-color);
    text-decoration: none;
    margin-right: 2rem;
}

.deal-of-day__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 57.4rem;
}

.deal-of-day__item {
    position: relative;
    display: flex;
    justify-content: center;
    width: 34rem;
    height: 46.2rem;
    margin-top: 5rem;
}

.deal-of-day__background-image {
    width: 34rem;
    height: 33.5rem;
    border-radius: 1rem;

    background: url("https://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-5.png");
    background-size: 34rem 33.5rem;
}

.deal-of-day__time-table {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16rem;
    width: 100%;
    text-align: center;
}

.deal-of-day__day-and-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    width: 6rem;
    height: 6.5rem;
    margin-right: 1rem;
    background-color: #fff;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
}

.deal-of-day__day-and-time--without-margin {
    margin-right: 0;
}

.deal-of-day__number {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.deal-of-day__time {
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
    color: var(--secondary-color);
}

.deal-of-day__description-and-more {
    width: 30rem;
    height: 20rem;
    background: white;
    position: absolute;
    top: 25rem;
    border-radius: 1rem;
    padding: 2.5rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.5rem 1.5rem;
}

.deal-of-day__description {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--general-color);
    font-weight: bold;
    margin-bottom: 1rem;
}

.deal-of-day__rating {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.deal-of-day__by {
    display: inline-block;
    font-family: Lato, sans-serif;
    color: #B6B6B6;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.deal-of-day__producer {
    font-size: 1.4rem;
    font-family: Lato, sans-serif;
    text-decoration: none;
}

.deal-of-day__price {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.deal-of-day__previous-price {
    font-size: 1.4rem;
    color: var(--category-color);
    text-decoration: line-through;
}

.deal-of-day__add-to-cart {
    color: var(--primary-color);
    background: var(--product-add-color);
    width: 8.5rem;
    height: 3.6rem;
    border-radius: 0.5rem;
    border: none;
    margin-right: 2.5rem;
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.deal-of-day__add-to-cart:hover {
    background: var(--primary-color);
    color: white;
}

.advertised֊products__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 52.1rem;
    font-size: 1.4rem;
    color: var(--general-color);
}

.advertised֊product {
    display: flex;
    flex-direction: column;
    width: 40.2rem;
    height: 47.1rem;
    margin-top: 4rem;
}

.advertised֊product__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.advertised֊product__item {
    width: 35rem;
    height: 11.7rem;
    margin-bottom: 3rem;
}

.advertised֊product__item-image {
    float: left;
    width: 11rem;
    height: 11rem;
    margin-right: 2.4rem;
    border-radius: 1rem;
}

.advertised֊product__item-name {
    display: block;
    text-decoration: none;
    color: var(--general-color);
    font-size: 1.6rem;
    margin-right: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.advertised֊product__item-rating {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.advertised֊product__item-price {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.advertised֊product__item-previous-price {
    font-size: 1.4rem;
    color: var(--category-color);
    text-decoration: line-through;
}

.subscribe-advertisement-container {
    display: flex;
    width: 100%;
    height: 41.7rem;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.subscribe-advertisement__background {
    position: relative;
    width: 100%;
    height: 41.7rem;
    border-radius: 2rem;

    background: url("https://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-10.png") no-repeat center;
    background-size: 100% 100%;
    padding: 8.4rem 7.8rem;
}

.subscribe-advertisement__image {
    width: 63.4rem;
    height: 34.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5rem;
}

.subscribe-advertisement__credentials {
    width: 143rem;
    height: 24.9rem;
    top: 10rem;
    color: var(--general-color);
}

.subscribe-advertisement__title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.subscribe-advertisement__shopping {
    font-size: 1.8rem;
    font-family: Lato, sans-serif;
    color: var(--secondary-color);
    margin-bottom: 4.5rem;
}

.subscribe-advertisement__producer {
    color: var(--primary-color);
}

.subscribe-advertisement__email-address {
    position: relative;
    width: 35rem;
    height: 6.4rem;
    border-radius: 5rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.subscribe-advertisement__subscribe {
    position: absolute;
    left: 35rem;
    width: 15.9rem;
    height: 6.4rem;
    background: var(--primary-color);
    border-radius: 5rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    font-family: Quicksand, sans-serif;
    cursor: pointer;
}

.discounts-and-more-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15.7rem;
    margin-bottom: 5rem;
}

.discount-and-more__item {
    width: 27rem;
    height: 10.7rem;
    color: var(--discount-color);
    background: #F4F6FA;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
}

.discount-and-more__item-image {
    float: left;
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.discount-and-more__item-title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.discount-and-more__item-comment {
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
    color: var(--category-color);
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 43rem;
}

.footer-part1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35rem;
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
    color: var(--general-color);
}

.footer-part1__nest {
    display: flex;
    flex-direction: column;
    width: 32.4rem;
    height: 31.5rem;
}

.footer-part1__nest-image {
    width: 21.5rem;
    height: 6.6rem;
    margin-bottom: 2rem;
}

.footer-part1__nest-description {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.footer-part1__nest-list {
    list-style: none;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-part1__nest-address {
    font-weight: normal;
    line-height: 2rem;
}

.footer-part1__nest-telephone {
    font-weight: normal;
}

.footer-part1__nest-email {
    font-weight: normal;
}

.footer-part1__nest-hour {
    font-weight: normal;
}

.footer-part1__company {
    display: flex;
    flex-direction: column;
    width: 19.4rem;
    height: 31.5rem;
}

.footer-part1__company-title {
    font-size: 2.4rem;
    font-family: Quicksand, sans-serif;
    margin-bottom: 2rem;
}

.footer-part1__company-item {
    margin-bottom: 1.5rem;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

.footer-part1__account {
    display: flex;
    flex-direction: column;
    width: 19.4rem;
    height: 31.5rem;
}

.footer-part1__account-title {
    font-size: 2.4rem;
    font-family: Quicksand, sans-serif;
    margin-bottom: 2rem;
}

.footer-part1__account-item {
    margin-bottom: 1.5rem;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

.footer-part1__corporate {
    display: flex;
    flex-direction: column;
    width: 19.4rem;
    height: 31.5rem;
}

.footer-part1__corporate-title {
    font-size: 2.4rem;
    font-family: Quicksand, sans-serif;
    margin-bottom: 2rem;
}

.footer-part1__corporate-item {
    margin-bottom: 1.5rem;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

.footer-part1__popular {
    display: flex;
    flex-direction: column;
    width: 19.4rem;
    height: 31.5rem;
}

.footer-part1__popular-title {
    font-size: 2.4rem;
    font-family: Quicksand, sans-serif;
    margin-bottom: 2rem;
}

.footer-part1__popular-item {
    margin-bottom: 1.5rem;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

.footer-part1__install-app {
    display: flex;
    flex-direction: column;
    width: 31rem;
    height: 31.5rem;
}

.footer-part1__install-app-title {
    font-size: 2.4rem;
    font-family: Quicksand, sans-serif;
    margin-bottom: 2rem;
}

.footer-part1__install-app-description {
    margin-bottom: 1.5rem;
}

.footer-part1__install-app-images {
    display: flex;
    width: 28.6rem;
    height: 5.7rem;
    margin-bottom: 3.3rem;
}

.footer-part1__install-app-img {
    width: 12.8rem;
    height: 4.2rem;
    margin-right: 1.2rem;
}

.footer-part1__install-app-payment {
    margin-bottom: 2rem;
}

.footer-part1__install-app-payment-img {
    width: 22.4rem;
    height: 3.2rem;
}

.footer-part2 {
    display: flex;
    width: 100%;
    height: 7rem;
}

.footer-part2__date {
    display: flex;
    flex-direction: column;
    width: 31rem;
    height: 5.4rem;
}

.footer-part2__date-title {
    font-size: 1.4rem;
    font-family: Lato, sans-serif;
    color: var(--secondary-color);
    line-height: 2.5rem;
}

.footer-part2__date-title-marker {
    color: var(--primary-color);
}

.footer-part2__telephone {
    width: 22rem;
    height: 5.4rem;
    margin-right: 4rem;
}

.footer-part2__telephone-with-margin-right-auto {
    margin-right: auto;
}

.footer-part2__telephone-with-margin-left-auto {
    margin-left: auto;
}

.footer-part2__telephone-image {
    width: 3rem;
    height: 3.8rem;
    float: left;
    margin-right: 1.2rem;
}

.footer-part2__telephone-frequency {
    font-size: 2.6rem;
    color: var(--primary-color);
    font-weight: 500;
}

.footer-part2__telephone-working {
    font-size: 1.2rem;
    font-family: Lato, sans-serif;
    color: var(--secondary-color);
    letter-spacing: 0.1rem;
}

.footer-part2__follow {
    display: flex;
    flex-direction: column;
    width: 28rem;
    height: 5.4rem;
}

.footer-part2__follow-website-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30rem;
    height: 3.4rem;
}

.footer-part2__follow-title {
    font-size: 1.6rem;
    color: var(--general-color);
    margin-right: 1.5rem;
}

.footer-part2__follow-website-icon {
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 0.5rem;
}

.footer-part2__follow-website-icon-image {
    width: 1.6rem;
    height: 3rem;
}

.footer-part2__follow-discount {
    font-size: 1.3rem;
    font-family: Lato, sans-serif;
    color: var(--secondary-color);
}